
body {
     color: rgba(255, 255, 255, 0.938);
     background-color: #000000 }
     header{
     color: rgba(0, 0, 0, 0.938);
     background-color: #ffffff }
     section{
     color: rgba(255, 255, 255, 0.938);
     background-color: #000000 }
     aside{
     color: rgba(255, 255, 255, 0.938);
     background-color: #000000 }
     footer {
     color: rgba(255, 255, 255, 0.938);
     background-color: #fa0e0e }
    